<p *ngIf="show">Lorem ipsum dolor sit amet consectetur adipisicing elit. In pariatur ipsum fuga voluptatibus excepturi a, quia blanditiis porro, adipisci temporibus nobis, voluptate placeat cum repudiandae eius necessitatibus! Iure, magni corrupti?</p>
<button (click)="showMessage()">Clique aqui</button>


<h1>Título Teste</h1>
<p *ngIf="show1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates suscipit dolores libero! Nisi quisquam laudantium, quaerat voluptatibus, non dolorem qui quam, nesciunt soluta est accusantium libero reiciendis fuga sed! Nostrum?</p>
<button (click)="showMessage1()">Clique aqui</button>

<p *ngIf="show2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, ipsam ad totam facilis libero voluptates iusto harum sed. Dolorum minus facilis delectus natus perferendis unde similique in assumenda omnis quibusdam?</p>
<button (click)="showMessage2()">Clique aqui</button>

<img *ngIf="showPic" url="https://www.canstockphoto.com.br/l%C3%A3-%C3%A1spero-2475579.html" alt="C4">
<button (click)="showPic1()"> Expandir </button>
